*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  height: 98%;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.container {
  background-color: hsl(0, 0%, 12%);
  border-radius: 2rem;
  display: inline-block;
  height: 59rem;
  margin: auto;
  width: 32.7rem;
}

.image__container {
  margin: 2rem 12rem 3rem 12rem;
  display: flex;
  justify-content: center;
  width: auto;
}

.profile__pic {
  border-radius: 10rem;
  height: 9rem;
  padding: 1.5rem 1rem 1rem 1rem;
  width: 9rem;
}

.attribution {
  display: inline;
}

.footer__text {
  color: #fff;
}

.full__name {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.location {
  color: hsl(75, 94%, 57%);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3.5rem;
}

.description {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 1.2rem;
}

.button__container {
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: space-evenly;
  margin-top: 3rem;
  width: auto;
}

.button {
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.8rem;
  color: white;
  font-weight: bold;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding: 1.4rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.1rem;
}

.button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}
